.container {
  transition: 0.25s;
  display: flex;
  align-items: flex-start;
}

.inner-container {
  margin: 1rem 0;
  padding: 2.5%;
  border: 1px solid blue;
}

body.dark,
#innnerThemeSwitch:checked + .inner-container,
body.dark #innnerThemeSwitch:checked + .inner-container {
  color: white;
  background-color: black;
}

#innnerThemeSwitch + .inner-container,
body.dark #innnerThemeSwitch + .inner-container {
  color: black;
  background-color: white;
}
